#promo_start_date .control-label, #promo_start_date .controls .help-block{
	display: none;
}

#promo_end_date .control-label, #promo_end_date .controls .help-block{
	display: none;
}

#crusie_start_date .control-label, #crusie_start_date .controls .help-block{
	display: none;
}

#crusie_end_date .control-label, #crusie_end_date .controls .help-block{
	display: none;
}

#crusie_multi_date .control-label, #crusie_multi_date .controls .help-block{
	display: none;
}

#couponForm fieldset#edit-crusievent{
	padding: 2.5em 0.625em 0.35em;
} 

#coupon-list-form .form-type-select{
	margin-top: 0px;
}

.customRowpromo .span3{
    min-height: 0px !important;
}

.customRowpromo .span9{
    min-height: 0px !important;
}
.customRowpromo .span12{
    min-height: 0px !important;
}


.chkbox{
    width:90%;
    margin-left: 20px;
}
.chkboxevent{
    width:40%;
}
.chkboxdate{
    width:30%;
}