input[type="text"]{
	padding: 3px !important;
	margin-top:0px !important;
}


.form-item, .form-actions {
    margin-bottom: 0.1em !important;
    margin-top: 0.1em !important;
   
}


table th, table td {
    padding: 0.1em !important;;
}


.tdalignright{
	text-align: right;
	padding: 8px !important;
}


.eventslist{
width :100%;	
}