ul {
    /*max-width: 43.75rem;*/
}
ul {
    list-style: none outside none;
}
ol, ul {
    margin-bottom: 1.25rem;
}



legend {
    border-bottom: 0.0625rem solid #E2E2E2;
    display: block;
    margin: 0px 0px 10px 0px;
    width: 95%;
    font-weight: 700;
    padding-top: 15px;
}




.formalign
{
	width:100%;
	float:left;
}

.formalign .formNamefields
{
	float:left;
	width:40%;
	
}

