/* 
    Document   : cruisesdetailview
    Created on : 18 Mar, 2013, 7:00:46 PM
    Author     : lsnsoft
    Description:
        Purpose of the stylesheet follows.
*/

#content{
    display: block  !important;
}

#menu
{
    position: static !important;
}

.aboutusDownslider ol.carousel-indicators .active{
    background-color:  inherit !important;
    background-image:url("../images/Indicators-active.png") !important;
    background-repeat: no-repeat !important;
    width: 12px !important;
    height: 12px !important;
    background-size: 100%;
}

.aboutusDownslider ol.carousel-indicators li{
    background-color: inherit !important;
    border-radius:0px !important;
    background-image: url("../images/Indicators-inactive.png") !important;
    background-repeat: no-repeat !important;
    width: 11px !important;
    height: 12px !important;
    background-size: 100%;
}

.aboutusDownslider a.carousel-control{
    background: inherit !important;
    border: solid 0px !important;
}

.aboutusDownslider .carousel-control{
    width: auto !important;
    height: auto !important;
}

.aboutusDownslider .carousel-indicators {
    bottom: 20%;
    left: 50%;
    top: inherit;
}

.cruiseDetailinfo,.aboutvendors{
    width:80% !important;
    /*margin-left:13% !important;*/
    margin-left:10% !important;
}


.contentDetail .carousel
{
    margin-bottom: 0px;
    margin-top:5%;
}

.sliderInnercontent{
    margin-left:2%;
}
.sliderInnercontent img{
    float: left;
    margin-top: 7px;  
}

/* aboutus css start here */

.aboutusTitle
{
    font-size: 46px;
    font-family: georgia;
    line-height: 50px;
    text-transform: uppercase;
    color: #454444;
    margin-bottom: 1%;
    margin-top: 7%;
}

.vendorlinks{

}

.contentDetail #rightsliderImages, .contentDetail #rightsliderImages img{
    height: 630px;
    width: 100%;
}
/* submenu css start here */

.subMenu
{
    width:auto;
    position: absolute;
    border: #bc9b6a 1px solid;
    z-index: 10;
}
.subMenu ul
{
    list-style:none;
    margin:0px;
}
.subMenu ul li
{
    float: left;
}
.subMenu ul li a
{
    background:rgba(252,251,249,0.8);
    color:#454444;
    font-family:georgia;
    font-size:15px;
    float:left;
    line-height:37px;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-shadow: none !important;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.subMenu ul li a:hover
{
    background: #454444 !important;
    color:#FFF;
    font-family:georgia;
    font-size:15px;
    float:left;
    line-height:37px;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-shadow: none !important;
}
.line{
    margin-top: 4% !important;
}
#routeMaplinesholder{
    margin-top:6%;
}
.subMenu ul li a.active
{
    background: #454444 !important;
    color:#FFF;
    font-family:georgia;
    font-size:15px;
    float:left;
    line-height:37px;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-shadow: none !important;
}



.aboutusDownsliderbox{
    max-width: auto !important;
}


.sliderCaption{
    font-size: 24px !important;
}

.aboutus-slider-buttons
{
    position: relative;
    top: 0px;
}
.aboutusDownslider
{
    position: relative;
    margin-top:3%;
}

.aboutusDownsliderbox{
    position: absolute;
    background: #fff;
    top: 100px;
    left: 11%;
    max-width: 450px;
    max-height: 250px;
    border: 10px #bc9b6a solid;
}

.reoutemapDirectionsbox
{
    background:#fff;
    min-width:100%;
    min-height:500px;
    border:10px #bc9b6a solid;
}

.reoutemapDirectionsboxInner
{
    width:100%;
    min-height:500px;
}

.reoutemapDirectionsboxInnerleft{
    background: #fff;
    min-height:500px;
    padding: 2%;
}

.reoutemapDirectionsboxInnerright{
    background: #bebebe;
    min-height:500px !important;
    overflow: hidden;
    position: relative;
}

.routemapContent{
    color: #000;
    height: 350px;
}


.routemapContent .item{
    margin-bottom: 10px;
}

.reoutemapDirectionsboxInnerleft .sliderCaption
{
    font-family:georgia;
    font-weight:600;
    font-size:19px;
    text-align:left;
}
.reoutemapDirectionsboxInnerleft ul
{
    list-style: none;
}
#routmapSlider .item img, #routmapSlider{
    height:626px;
    width: 100%;
}


.aboutusDownsliderInner {
    padding: 5% !important;
}

.routeMaplinesholder .span2{
    margin-top: -3px;
}

#routeMaplinesholder .span2{
    margin-top: -7px;
}



/* vendor css start here */

.vendorTitle
{
    font-size: 17px;
    color:#63615f;
    font-weight: bold;

}

.vendorlinks a
{
    font-size: 16px;
    color:#00529b;
}
.aboutvendors
{
    margin-top: 10%;
    margin-bottom: 5%;
}

.vendorColumns .vendorgroup{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

.vendorsListGroup{
    margin-bottom: 20px;
}



@media (max-width: 979px) and (min-width: 768px){

    .aboutusDownsliderInner .span8{
        width:73% !Important;
    }
    .aboutusDownsliderInner .span2 {
        width:4% !important;
    }
    .requset-proposal {
        margin-bottom: 5%;
    }
    #routeMaplinesholder{
        padding-left:5%;
    }
    .aboutusDownsliderInner .left-line-margin{

        margin-left:8% !important;
    }
    .aboutusDownsliderbox{
        width:50%;
        margin-left:25%;
    }

}
@media (max-width: 979px) {
    #content
    {
        display: block !important;
        margin-top: 0px !important;
    }
    .requset-proposal .left-line-margin{
        width:12% !important;
        margin-left:25% !important;
    }
    .requset-proposal .right-line-margin{
        width:12% !important;
    }
    .requset-proposal .span6{
        width:50% !important;
    }
    .requset-proposal .span6{
        float:left !important; 
        width:25% !important;
        margin-left: 3% !important;
    }
    .virtualtour{
        display:none;
    }
    .contentDetail #rightsliderImages, .contentDetail #rightsliderImages img{
        height: auto !important;
        width: 100%;
    }
    .cruiseDetailinfo{
        width: 95% !important;
        margin-left: 5% !important;
        position: static;
    }
    .request-proposal{
        margin-bottom:6%;
    }

    .aboutusTitle{
        margin-bottom: 4%;
        margin-top: 4%;
    }

    .sunsetBannerBooknow{
        font-size: 26px !important;
        width:90%;
        margin: 0px auto;

    }

    .contentDetail
    {
        padding-left: 0px !important;
        width: 100%;
        margin: auto 0px;
    }
    .sunsetBooknowMobile .span4
    {
        float: left ;
        width: 30% ;
    }
    .groupResNote{
        width: 90%;
        margin: 0px auto;
        padding: 20px 0px;
    }
    #downArrow, .share, .Reviews{
        display: none;
    }

    .aboutusDownsliderbox{
        /*        position: static !important;
                max-height: auto !important;
                max-width: 100% !important;*/
        margin-bottom:20px; 
    }


    .aboutusDownsliderInner .span8{
        float: left !important;
        font-size: 18px;
        /*        width: 50% !important;*/
    }
    .aboutusDownsliderInner .span8 .sliderCaption{ 
        font-size: 24px;
    }
    .clickMapLink{
        font-size: 13px !important;
    }


    .sliderInnercontent a{
        display: block;
    }

    .contentDetail .span6{
        float: none !important;
        width: 100% !important;
        margin-left: 0px !important;
    }

    .sunsetBannerBooknow .row-fluid .span6{
        margin-left: 0px !important;
    }
    .cruiseDetailinfo .span6 .row-fluid .span2{
        display: none;
    }
    .cruiseDetailinfo .span6 .row-fluid .span10{
        width: 100%;
        margin-left: 0px;
    }
    .contentDetail #rightsliderImages img{
        width: 100%;
    }
    #routmapSlider .item img, #routmapSlider {
        height: auto !important;
        width: 100%;
    }
    .carousel-control
    {
        display: none;
    }


    .subMenu ul li a
    {
        padding-left: 13px;
        padding-right: 13px;
        font-size: 13px;
    }

    .subMenu ul li a:hover
    {
        padding-left: 13px;
        padding-right: 13px;
        font-size: 13px;
    }

    .subMenu ul li a.active
    {
        padding-left: 13px;
        padding-right: 13px;
        font-size: 13px;
    }

}

@media screen and (max-width: 767px) {

    .container
    {
        width: auto !important;
    }

    #content
    {
        display: block !important;
        margin-top: 0px !important;
    }

    .aboutvendors{
        width: 96% !important;
    }

    .subMenu{
        position:static;
    }
    .subMenu select {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
        height: 47px;
        font-size: 19px;
        border: 0px;
    }

    .cruiseDetailinfo{
        width:100% !important;
        margin-left:0 !important;
    }
    .aboutvendors{
        width:97% !important;
        margin-left:3% !important;
    }


}
@media (max-width: 480px) {

    /* aboutus css start here */

    .vendorColumns .vendorgroup{
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }

    .subMenu
    {
        width: 100%;
        position: static;
        border-left:0px; 
        border-right:0px; 
    }
    .subMenu select
    {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
        height: 47px;
        font-size: 19px;   
        padding-right:2%;
        border:0px; 
    }


}


@media (min-width: 979px) and (max-width: 1160px) { 

}

@media (min-width: 1160px) and (max-width: 1200px) {



}
/*laxmi**/
.contentDetail{
    padding-left:0% !important;
}