/* 
    Document   : cruisesdetailview
    Created on : 18 Mar, 2013, 7:00:46 PM
    Author     : lsnsoft
    Description:
        Purpose of the stylesheet follows.
*/

#content{
    display: block  !important;
}

#menu
{
    position: static !important;
}

.aboutusDownslider ol.carousel-indicators .active{
    background-color:  inherit !important;
    background-image:url("../images/Indicators-active.png") !important;
    background-repeat: no-repeat !important;
    width: 12px !important;
    height: 12px !important;
    background-size: 100%;
}

.aboutusDownslider ol.carousel-indicators li{
    background-color: inherit !important;
    border-radius:0px !important;
    background-image: url("../images/Indicators-inactive.png") !important;
    background-repeat: no-repeat !important;
    width: 11px !important;
    height: 12px !important;
    background-size: 100%;
}

.aboutusDownslider a.carousel-control, .aboutusupslider a.carousel-control{
    background: inherit !important;
    border: solid 0px !important;
}

.aboutusDownslider .carousel-control, .aboutusupslider .carousel-control{
    width: auto !important;
    height: auto !important;
}

.aboutusDownslider .carousel-indicators, .aboutusupslider .carousel-indicators {
    bottom: 20%;
    left: 50%;
    top: inherit;
}


.contentDetail .carousel
{
    margin-bottom: 0px;

}
.aboutusDownslider .carousel
{
    margin-bottom: 0px;
}

.sliderInnercontent{
    margin-left:2%;
}
.sliderInnercontent img{
    float: left;
    margin-top: 7px;  
}

/* aboutus css start here */

.aboutusTitle
{
    font-size: 46px;
    font-family:georgia;
    line-height:50px;
    text-transform: uppercase;
    color: #454444;
    margin-bottom: 1%;
    margin-top: 6.5%;
}

.contentDetail #rightsliderImages, .contentDetail #rightsliderImages img{
    height: 630px;
    width: 100%;
}
/* submenu css start here */

.subMenu
{
    width:auto;
    position: absolute;
    border: #bc9b6a 1px solid;
    z-index: 10;
}
.subMenu ul
{
    list-style:none;
    margin:0px;
}
.subMenu ul li
{
    float: left;
}
.subMenu ul li a
{
    background:rgba(252,251,249,0.8);
    color:#454444;
    font-family:georgia;
    font-size:15px;
    float:left;
    line-height:37px;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-shadow: none !important;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

.subMenu ul li a:hover
{
    background: #454444 !important;
    color:#FFF;
    font-family:georgia;
    font-size:15px;
    float:left;
    line-height:37px;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-shadow: none !important;
}
.line{
    margin-top: 4% !important;
}
#routeMaplinesholder{
    margin-top:6%;
}
.subMenu ul li a.active
{
    background: #454444 !important;
    color:#FFF;
    font-family:georgia;
    font-size:15px;
    float:left;
    line-height:37px;
    text-decoration:none;
    padding-left:20px;
    padding-right:20px;
    text-shadow: none !important;
}



.aboutusDownsliderbox{
    max-width: auto !important;
}


.sliderCaption{
    font-size: 22px !important;
}

.aboutus-slider-buttons
{
    position: relative;
    top: 0px;
}
.aboutusDownslider
{
    position: relative;
    /*margin-top:3%;*/
}

.aboutusDownsliderbox{
    position: absolute;
    background: #fff;
    top: 130px;
    left: 16.5%;
    height:300px;
    max-width: 450px;
    max-height: 350px;
    border: 10px #bc9b6a solid;
    overflow-y: auto;
}
.aboutusupsliderbox
{
    position: absolute;
    background: #fff;
    top: 210px;
    left: 16.5%;
    height:300px;
    max-width: 450px;
    max-height: 350px;
    border: 10px #bc9b6a solid;
    overflow-y: auto;
}
.reoutemapDirectionsbox
{
    background:#fff;
    min-width:100%;
    min-height:500px;
    border:10px #bc9b6a solid;
}

.reoutemapDirectionsboxInner
{
    width:100%;
    min-height:500px;
}

.reoutemapDirectionsboxInnerleft{
    background: #fff;
    min-height:500px;
    padding: 2%;
}

.reoutemapDirectionsboxInnerright{
    background: #bebebe;
    min-height:500px !important;
    overflow: hidden;
    position: relative;
}

.routemapContent{
    color: #000;
    height: 350px;
}


.routemapContent .item{
    margin-bottom: 10px;
}

.reoutemapDirectionsboxInnerleft .sliderCaption
{
    font-family:georgia;
    font-weight:600;
    font-size:19px;
    text-align:left;
}
.reoutemapDirectionsboxInnerleft ul
{
    list-style: none;
}
#routmapSlider .item img, #routmapSlider{
    height:626px;
    width: 100%;
}


.aboutusDownsliderInner {
 
    padding: 7% !important;
padding-top: 11% !important;
}

.routeMaplinesholder .span2{
    margin-top: -3px;
}

#routeMaplinesholder .span2{
    margin-top: -7px;
}

.cruiseDetailinfo
{
    position: absolute;
    z-index: 1;
    width: 80% !important;
   margin-left: 16.5%;
}

/*laxmi**/
.contentDetail{
    padding-left:0% !important;
}


@media (max-width: 979px) and (min-width: 768px){
    
    .subMenu ul li a
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .subMenu ul li a:hover
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .subMenu ul li a.active
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .aboutusDownslider{
        margin-bottom: 10px;
    }

    .cruiseDetailinfo
    {
        position: relative;
        width: 97% !important;
        margin-left: 3%;
    }

    .aboutusupsliderbox{
        position: relative;
        max-width: 100%;
        top: 0px;
        left: 0px;
        margin-top: 4%;
margin-bottom: 4%;
    }

    .aboutus-slider-buttons{
        margin-top: 10%;
    }

    .aboutusDownsliderInner .span2{
        width: 30% !important;
        margin-left: 0% !important;
    }

    .aboutusDownsliderInner .span8{
        width: 40% !important;
        margin-left: 0% !important;
    }
    
    .aboutusDownslider .carousel-indicators, .aboutusupslider .carousel-indicators {
        display: none;
    }
/*    
    .aboutusDownslider a.carousel-control, .aboutusupslider a.carousel-control{
        display: none;
    }*/
    
    .contentDetail #rightsliderImages, .contentDetail #rightsliderImages img{
        height: auto !important;
        width: 100%;
    }

    #mydownCarousel .carousel-indicators{
        bottom: 15%;
    }

    #routeMaplinesholder .span5{
        width: 40% !important;
        margin-left: 0% !important;
    }

    #routeMaplinesholder .span2{
        width: 20% !important;
        margin-left: 0% !important;
    }
    
    #routmapSlider .item img, #routmapSlider{
        height: auto !important;
        width: 100%;
    }

    .aboutusDownsliderbox{
        position: relative;
        top: 0px;
        left: 0%;
        max-width: 100%;
        max-height: auto;
         margin-top: 4%;
margin-bottom: 4%;
    }

}

@media (max-width: 979px) {
    #content
    {
        display: block !important;
        margin-top: 0px !important;
    }
   
    .subMenu ul li a
    {
        padding-left:14px;
        padding-right:14px;
        font-size: 13px;
    }

    .subMenu ul li a:hover
    {
        padding-left:14px;
        padding-right:14px;
        font-size: 13px;
    }

    .subMenu ul li a.active
    {
        padding-left:14px;
        padding-right:14px;
        font-size: 13px;
    }

}

@media screen and (max-width: 767px) {
    
    .subMenu ul li a
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .subMenu ul li a:hover
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .subMenu ul li a.active
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .aboutusDownslider{
        margin-bottom: 10px;
    }

    .subMenu{
        position: static;
    }

    .aboutusTitle{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .subMenu select {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
        height: 47px;
        font-size: 19px;
        border: 0px;
    }

    .cruiseDetailinfo
    {
        position: relative;
        width: 100% !important;
        margin-left: 0%;
    }

    .aboutusupsliderbox{
        position: relative;
        max-width: 100%;
        top: 0px;
        left: 0px;
    }

    .aboutus-slider-buttons{
        margin-top: 7%;
    }
    .aboutusupsliderbox,.aboutusDownsliderbox{

        margin-top: 7%;
    }
    .aboutusupsliderbox,#aboutussecondCarousel,.aboutusDownsliderbox{
        margin-bottom: 7%;
    }
    .aboutusDownsliderInner .span2{
        width: 30% !important;
        margin-left: 0% !important;
        float: left !important;
    }

    .aboutusDownsliderInner .span8{
        width: 40% !important;
        margin-left: 0% !important;
        float: left !important;
    }
    
    .aboutusDownslider .carousel-indicators, .aboutusupslider .carousel-indicators {
        display: none;
    }
    
  .aboutsoverviewfirstindicators,.aboutussecondindicators{
        display: none;
    }

    #mydownCarousel .carousel-indicators{
        bottom: 15%;
    }

    #routeMaplinesholder .span5{
        width: 40% !important;
        margin-left: 0% !important;
        float: left !important;
    }

    #routeMaplinesholder .span2{
        width: 20% !important;
        margin-left: 0% !important;
        float: left !important;
    }

    .aboutusDownsliderbox{
        position: relative;
        top: 0px;
        left: 0%;
        max-width: 100%;
        max-height: auto;
    }

    .contentDetail #rightsliderImages, .contentDetail #rightsliderImages img{
        height: auto !important;
        width: 100%;
    }
    
    .aboutusDownslider .carousel-control{
        top: 18%;
    }
    
    #mydownCarousel .carousel-control{
        top: 33%;
    }
    
    #routmapSlider .item img, #routmapSlider{
        height: auto !important;
        width: 100%;
    }
 
}

@media (max-width: 480px) {

    .aboutusDownslider{
        margin-bottom: 10px;
    }
    
    .sliderInnercontent{
        padding-bottom: 0px !important;
    }

    .cruiseDetailinfo
    {
        position: relative;
        width: 100% !important;
        margin-left: 0%;
    }

    .aboutusupsliderbox{
        position: relative;
        max-width: 100%;
        top: 0px;
        left: 0px;
    }

    .aboutus-slider-buttons{
        margin-top: 5%;
    }

    .aboutusDownsliderInner .span2{
        width: 30% !important;
        margin-left: 0% !important;
    }

    .aboutusDownsliderInner .span8{
        width: 40% !important;
        margin-left: 0% !important;
    }

    .aboutusDownslider .carousel-indicators, .aboutusupslider .carousel-indicators {
        display: none;
    }
    
    .aboutusDownslider a.carousel-control, .aboutusupslider a.carousel-control{
        display: none;
    }

    #mydownCarousel .carousel-indicators{
        bottom: 15%;
    }

    #routeMaplinesholder .span5{
        width: 40% !important;
        margin-left: 0% !important;
    }

    #routeMaplinesholder .span2{
        width: 20% !important;
        margin-left: 0% !important;
    }

    .aboutusDownsliderbox{
        position: relative;
        top: 0px;
        left: 0%;
        max-width: 100%;
        max-height: auto;
    }

}


@media (min-width: 979px) and (max-width: 1160px) {

    .subMenu ul li a
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .subMenu ul li a:hover
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

    .subMenu ul li a.active
    {
        padding-left:15px;
        padding-right:15px;
        font-size: 14px;
    }

}